In [52]:
import pandas as pd

In [53]:
pd.__version__

'2.2.0'

In [54]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [55]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [56]:
from sqlalchemy import create_engine

In [57]:
engine = create_engine('postgresql://tester:246357@localhost:5432/ny_taxi')

In [58]:
print(pd.io.sql.get_schema(df, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [59]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [60]:
df_iter

In [61]:
df = next(df_iter)

In [62]:
len(df)

100000

In [63]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [65]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [66]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 2.94 s, sys: 55 ms, total: 2.99 s
Wall time: 4.52 s

1000

In [67]:
from time import time

In [68]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
        t_end =  time()
        print('inserted another chunk..., took %.3f second' %(t_end-t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk..., took 4.604 second
inserted another chunk..., took 4.602 second

/var/folders/md/3lwjfnt10ylghtcd02vkxt240000gn/T/ipykernel_63647/2096116016.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 4.584 second
inserted another chunk..., took 2.062 second
completed

In [73]:
df_zone = pd.read_csv('taxi+_zone_lookup.csv', nrows=1000)

In [74]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [75]:
df_zone.to_sql(name='zone', con=engine, if_exists='replace')

265